.PollList {
  list-style: none;
  padding: 0;
}

.PollList li {
  margin-bottom: 10px;
}

.PollList li button {
  width: 100%;
  background: transparent;
  border: 2px solid #cccccc;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  position: relative;
}

.PollList li button:active {
  border-color: var(--primary-color);
}

.PollList li button.selected {
  border-color: var(--primary-color);
}

.PollList li button .Graphic {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}
.PollList li button .TotalAnswer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}
