.App .Content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  min-width: 300px;
}

.App .Username {
  font-size: 0.8rem;
  margin-bottom: 10px;
  text-align: right;
}

.App .Menu {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.App .Menu .Button {
  display: flex;
  padding: 5px;
  width: auto;
}

.Button {
  display: block;
  width: 100%;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.PrimaryButton {
  background-color: #6968f4;
  border-color: #6968f4;
}

.PrimaryButton:hover {
  background-color: #605fec;
  border-color: #605fec;
}

.SecondaryButton {
  color: #6968f4;
  background-color: white;
  border-color: #6968f4;
}

.SecondaryButton:hover {
  color: #3e3dc1;
  border-color: #3e3dc1;
}

.FormLabel {
  display: block;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.FormControl {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  border: 2px solid #cccccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

.FormTextarea {
  height: 75px;
  resize: none;
}

.form-error {
  color: red;
  margin-top: 10px;
  line-height: 1.2rem;
}
